# quartus
*.qsys_edit
*.bak
*.qws
*.qpf
*.sopcinfo
*.qsf
*db
*tmp
quartus


# qsys
*.cmp
*.html
*.sopcinfo
*.rpt
*.lck
.qsys_edit

# software
app
bsp

# cocotb
sim_build
results.xml
__pycache__
*.vcd
*.fst
*.fst.hier
*.gtkw
